nav{
    position: relative;
    z-index: 99;
    width: 100%;
    height: 40px;
    border-bottom: solid 2px $hovercolor;
    margin: 0 auto;
    background-color: #FFF;
    zoom: 1;
    .all-goods{
        display: block;
        float: left;
        width: 180px;
        height: 40px;
        background-color: $hovercolor;
        .title{
            line-height: 20px;
            height: 20px;
            padding: 10px 10px 11px 10px;
            a{
                font-size: 14px;
                font-weight: normal;
                color: #FFF;
                float: left;
                margin-left: 6px;
            }
            i{
                display: block;
                float: right;
                width: 9px;
                height: 6px;
                margin: 8px 6px 0 0;
                background: url('../imgs/web_common_pic.png') no-repeat -90px -60px; 
            }
        }
    }
    .menu{
        font-size: 0;
        *word-spacing: -1px;
        white-space: nowrap;
        max-width: 988px;
        float: left;
        overflow: hidden;
        li{
            float: left;
        }
        a{
            font-size: 15px;
            line-height: 20px;
            height: 20px;
            padding: 8px 24px;
            display: inline-block;
           
        }
        a:hover{
           color: $hovercolor !important;
        }
        .active{
            color: $hovercolor;
            font-weight: 600;
        }      
    }
}