#otherGoods{
    margin-top: 15px;
    .container{
        background-color: $killcolor;
    }
    .left,.right,.mid{
        width: 396px;
        height: 478px;
        float: left;
        margin-right: 10px;
        background-color: $killcolor;
    }
    .left{
        .title{
            background-color: #cd375e;
            background-image: linear-gradient(90deg, #cd375e, #c1314d);
        }
   }
   .mid{
       .title{
            background-color: #974676;
            background-image: linear-gradient(90deg, #974676, #9e4075);
       }
   }
    .right{
        margin-right: 0;
        width: 397px;
        .title{
            background-color: #78538e;
            background-image: linear-gradient(90deg, #78538e, #674083);
        }
    }
    .title{
        width: 100%;
        height: 58px;
        line-height: 58px;
        padding-left: 20px;
        box-sizing: border-box;
        h3{
            font-size: 22px;
            font-weight: 400;
            color: #FFF;
        }
    }
    .con{
        padding: 10px;
        @extend %clearfix;
        .cover{
            &:hover{
                img{
                    transform: translateX(-10px);
                }
            }
            float: left;
            margin-right: 10px;
            width: 186px;
            height: 260px;
            overflow: hidden;
            background-color: #F7F7F7;
            a{
                display: block;
            }
            img{
                transition: transform 0.2s ease 0s
            }
        }
        .some{
            overflow: hidden;
            position: relative;
            float: left;
            width: 180px;
            height: 260px;
            a{
                display: block;
                float: left;
                position: relative;
                width: 191px;
                height: 130px;
            }
            img{
                &:hover{
                    transform: translateX(-5px);
                }
                
               
                display: block;
                overflow: hidden;
                position: absolute;
                right: 5px;
                bottom: 10px;
                width: 100px;
                height: 100px;
                transition: 0.5s;
                background-color: #F7F7F7;
                transition: transform 0.5s ease 0s;
            }   
        }
        .sometit{
            position: absolute;
            z-index: 1;
            top: 25px;
            left: 25px;
            overflow: hidden;
            overflow-wrap: break-word;
            max-width: 130px;
            text-overflow: ellipsis;
            white-space: nowrap;
            word-break: break-all;
            font-size: 14px;
        }
        .somecon{
            position: absolute;
            z-index: 1;
            top: 50px;
            left: 25px;
            max-width: 50px;
            font-size: 12px;
            color: #666;
        }
        .x{
            position: absolute;
            top: 130px;
            left: 0;
            width: 382px;
            height: 1px;
            background-color: #E6E6E6;
        }
        .y{
            position: absolute;
            top: 0;
            left: 191px;
            width: 1px;
            height: 260px;
            background-color: #E6E6E6;
        }
        .more{
            overflow: hidden;
            clear: both;
            height: 130px;
            padding-top: 10px;
           
            a{
                display: inline-block;
                width: 185px;
                overflow: hidden;
                margin-right: 2px;
                &:hover{
                    img{
                        transform: translateX(-12px);
                    }
                }
            }
            a.last{
                margin-right: 0 !important;
            }
            img{
                width: 196px;
                height: 130px;
                transition: transform 0.4s ease 0s;
            }
        }
    }
}