@import "indexConn";
body{
    background-color: #f2f2f2;
}
.container{
    width: 1210px;
    margin: 0 auto;
}
header{
    position: relative;
    z-index: 999;
    background-color: #F5F5F5;
    @include borderStyle(bottom);
    width: 100%;
    .container{
        @extend %clearfix;
    }
    .left{
        float: left;
        
        a{
            height: 34px;
            z-index: 2;
            top: 0;
            left: 0;
            padding: 0 9px 1px 9px;
            margin: 1px 1px 0 1px;
            white-space: nowrap;
            line-height: 34px;
            &:hover{
                color: #F30213;
                span{
                    background-position: -60px 0;
                }
            }
            span{
                display: inline-block;
                vertical-align: middle;
                margin-right: 4px;
                width: 20px;
                height: 20px;
                background: url('../imgs/web_common_pic.png') no-repeat -40px 0;
            }
            i{
                background: url('../imgs/web_common_pic.png') no-repeat -110px -60px;
                vertical-align: middle;
                display: inline-block;
                width: 7px;
                height: 4px;
                margin-left: 9px;
            }
        }
        .back-home{
            padding: 0 !important;
            &:hover{
              
                span{
                    background-position: -20px 0;
                }
            }
            span{
                background: url('../imgs/web_common_pic.png') no-repeat;
                
            }
        }
    }
}


//导航栏右边
header .right{
    float: right;
    .unuse{
        display: block;
    }
    .use{
        display: none;
        font-size: 12px;
        height: 20px;
        border: none;
        background-color: transparent;
        sub{
            display: inline-block;
            height: 16px;
            padding: 1px 5px;
            border-radius: 2px;
            background-color: #555;
            position: relative;
            top: -5px;
            color: #FFF8B5;
            font-size: 11px;
            line-height: 15px;
            font-weight: 600;
        }
    }
    dl{
        height: 35px;
        display: block;
        position: relative;
        z-index: 1;
        float: left;
        a{
            color: $color;
        }
        
    }

    dt{
        font-size: 12px;
        line-height: 20px;
        height: 20px;
        padding: 8px 12px 7px 12px;
        border: none;
        background-color: transparent;
       
        .arrow{
            background: url('../imgs/web_common_pic.png') no-repeat -110px -60px;
            vertical-align: middle;
            display: inline-block;
            width: 7px;
            height: 4px;
            margin-left: 4px;
        }
    }
    dd{
        width: 100%;
        position: absolute;
        overflow: hidden;
        height: 0;
        background-color: white;
        box-sizing: border-box;
        top: 35px;
        // @include borderStyle('');
        ul{
            padding-bottom:5px;
            height: auto;
            
        }
        li:hover{
            a{
                color: $hovercolor;
            }
        }
    }
    .login a:first-child{
        color: #F30213 !important; 
        margin-right: 5px;
    }
    .login a:last-child:hover{
        color: $hovercolor;
    }
  
    .myorder:hover,.call-center:hover{
        background-color: white;
        dt{
            @include borderStyle('');
            padding-left: 11px;
            padding-right: 11px;
            border-bottom: none;
            border-top: none;
            a{
                color: $hovercolor;
            }
            span{
                transform:rotateZ(180deg);
                transition: 0.3s;
            }
        }
       dd{
            height: 90px;
            @include borderStyle('');
            border-top: none;
            transition: height 0.3s;
       }
    }
    .myorder{
        ul {
            width: 100%;
            a{
                font-size: 12px;
                line-height: 24px;
                display: block;
                clear: both;
                padding: 2px 0 2px 10px;
        
            }
        }
       
    } 

    .mymall {
        dd{
            width: 200%;
        }
        ul{
            width: 160px;
            li{
                width: 50%;
                float: left;
                padding: 4px 0;
                margin: 0;
                a{
                    font-size: 12px;
                    line-height: 24px;
                    display: block;
                    clear: both;
                    padding: 2px 0 2px 10px;
                }
            }
        }
        
    }
    
    .mymall:hover{
        background-color: white;
        dt{
            @include borderStyle('');
            padding-left: 11px;
            padding-right: 11px;
            border-bottom: none;
            border-top: none;
            a{
                color: $hovercolor;
            }
            span{
                transform:rotateZ(180deg);
                transition: 0.3s;
            }
        }
       dd{
            height: 109px;
            @include borderStyle('');
            border-top: none;
            transition: height 0.3s;
       }
    }
    .call-center ul a{
        font-size: 12px;
        line-height: 24px;
        display: block;
        clear: both;
        padding: 2px 0 2px 10px;
    }
        
    .mobile-mall:hover{
        background-color: white;
        dt{
            @include borderStyle('');
            padding-left: 11px;
            padding-right: 11px;
            border-bottom: none;
            border-top: none;
            color: $hovercolor;
            .arrow{
                transform:rotateZ(180deg);
                transition: 0.3s;
            }
        }
        dd{
            height: 223px;
            @include borderStyle('');
            border-top: none;
            transition: height 0.3s;
       }
    }
    .mobile-mall{
        width: 120px;
        .icon{
            display: inline-block;
            vertical-align: middle;
            margin-right: 4px;
            width: 20px;
            height: 20px;
            background: url('../imgs/web_common_pic.png') no-repeat -120px 0;
        }
        dd{
            width: 150%;
            height: 0;
            left: -60px;
        }
        .QRcode{
           
            display: block;
            padding: 20px;
            img{
                width: 140px;
                height: 140px;
                border: medium none;
                vertical-align: middle;
            }
            p{
                display: block;
                margin-top: 10px;
                text-align: center;
                line-height: 16px;
            }
        }
    }
}




