@charset "UTF-8";
.fa {
  font-size: 14px;
  margin-right: 4px;
  font: normal normal normal 14px/1 FontAwesome;
}

input[type=text] {
  font: 12px/1.5 Tahoma, Arial, "宋体", sans-serif;
  color: #777;
  background-color: #FFF;
  vertical-align: top;
  display: inline-block;
  min-height: 20px;
  padding: 5px;
  border: solid 1px #E6E9EE;
  outline: 0 none;
}

#log .container {
  height: 46px;
  line-height: 46px;
}

#detail .container {
  height: 500px;
}
#detail .gods-pic {
  display: block;
  position: relative;
  width: 380px;
  height: 490px;
  float: left;
  text-align: center;
}
#detail .gods-pic .smallimg {
  display: block;
  width: 360px;
  height: 360px;
  position: relative;
  margin: auto;
}
#detail .gods-pic .smallimg img {
  width: 360px;
  height: 360px;
}
#detail .gods-pic .smallshade {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 180px;
  height: 180px;
  background: #ffffff;
  opacity: 0.7;
}
#detail .gods-pic .bigshade {
  width: 450px;
  height: 450px;
  background-color: red;
  position: absolute;
  left: 380px;
  top: 0;
  z-index: 10;
  background: url() no-repeat;
  background-size: 720px 720px;
  background-position: 0px 0px;
  display: none;
}
#detail .gods-pic .controll {
  position: absolute;
  bottom: 40px;
  left: 0;
  width: 360px;
  height: 56px;
  margin: 10px auto 0 auto;
}
#detail .gods-pic .controll .fa {
  font: normal normal normal 14px/1 FontAwesome;
}
#detail .gods-pic .controll .fa::before {
  content: "";
}
#detail .gods-pic .controll a {
  float: left;
  visibility: hidden;
  top: 0;
  height: 54px;
  width: 18px;
  padding: 0;
  border: solid 1px #FFF;
  border-radius: 2px;
  background-color: #FFF;
  text-align: center;
  font-size: 18px;
  line-height: 56px;
  color: #AAA;
}
#detail .gods-pic .controll a:hover {
  background-color: #FAFAFA;
  color: #e4393c;
  border-color: #F1F1F1;
}
#detail .gods-pic .controll .prev {
  margin-left: 5px;
}
#detail .gods-pic .controll .prev .fa::before {
  content: "";
}
#detail .gods-pic .controll .goods-smallpic {
  float: left;
  margin-left: 5px;
  width: 305px;
  height: 56px;
  overflow: hidden;
}
#detail .gods-pic .controll .goods-smallpic ul::after {
  content: "";
  display: block;
  clear: both;
}
#detail .gods-pic .controll .goods-smallpic li {
  float: left;
  width: 56px;
  height: 56px;
  margin-right: 5px;
}
#detail .gods-pic .controll .goods-smallpic .active img {
  border-color: #e4393c;
}
#detail .gods-pic .controll .goods-smallpic img {
  width: 50px;
  height: 50px;
  padding: 2px;
  border: solid 1px #F5F5F5;
  cursor: pointer;
}
#detail .gods-pic .handle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 360px;
  height: 30px;
  padding-top: 10px;
}
#detail .gods-pic .handle a {
  margin-left: 10px;
  line-height: 30px;
  float: left;
}
#detail .gods-pic .handle a em {
  margin-left: 5px;
  color: #333;
  font-weight: 500;
}
#detail .gods-pic .handle .fa {
  font: normal normal normal 14px/1 FontAwesome;
}
#detail .gods-pic .handle .fa::before {
  content: "";
}
#detail .gods-pic .handle .share {
  position: relative;
  float: left;
  color: #555;
  background-color: #FFF;
  padding: 4px 6px;
  margin-left: 10px;
  line-height: 20px;
  border: solid #FFF;
  border-width: 1px 1px 0 1px;
  background-color: #FFF;
}
#detail .gods-pic .handle .share .fa-share::before {
  content: "";
}
#detail .gods-pic .handle .share .fa-down::before {
  content: "";
}
#detail .gods-pic .handle .QRcode {
  float: left;
  margin-left: 30px;
  line-height: 30px;
}
#detail .gods-pic .handle .QRcode .fa::before {
  content: "";
}
#detail .indetail {
  position: relative;
  float: left;
  width: 660px;
  height: 490px;
  margin-left: 10px;
}
#detail .indetail .goods-name {
  padding: 14px 8px 10px 8px;
}
#detail .indetail .goods-name h1 {
  display: block;
  font: normal 20px/28px "Microsoft Yahei";
  margin-bottom: 4px;
  color: #000;
}
#detail .indetail .goods-name strong {
  font-family: "Microsoft Yahei";
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #e4393c;
}
#detail .indetail dt {
  text-align: left;
  width: 60px;
  height: 30px;
  margin-left: 20px;
  color: #777;
  font-size: 12px;
  line-height: 30px;
  display: inline-block;
}
#detail .indetail dd {
  text-align: left;
  width: 570px;
  color: #000;
  font-size: 12px;
  line-height: 30px;
  display: inline-block;
  vertical-align: top;
  display: inline-block;
}
#detail .indetail .goods-price {
  background: url("../imgs/ncs_meta_bg.png") no-repeat 50% 50%;
  background-size: cover;
  margin-bottom: 10px;
}
#detail .indetail .goods-price dl {
  padding: 12px 0;
}
#detail .indetail .goods-price strong {
  display: block;
  float: left;
  font-size: 16px;
  margin-left: 5px;
  font-weight: normal;
  color: #e4393c;
}
#detail .indetail .goods-price span {
  float: left;
  display: block;
  font-size: 26px;
  color: #e4393c;
  font-weight: 500;
}
#detail .indetail .goods-sale {
  position: relative;
  margin-bottom: 5px;
}
#detail .indetail .goods-sale .cheap {
  float: left;
}
#detail .indetail .goods-sale .cheap .cheap-con {
  height: 20px;
  padding: 4px 9px 6px 0;
  background-color: #FFF;
  border: solid #FFF;
  border-width: 1px 1px 0 1px;
  line-height: 20px;
  cursor: pointer;
  font-size: 12px;
}
#detail .indetail .goods-sale .cheap em {
  margin-left: 4px;
  color: #6286ca;
}
#detail .indetail .goods-sale .cheap .fa {
  color: #6286ca;
}
#detail .indetail .goods-sale .cheap .fa::before {
  content: "";
}
#detail .indetail .address {
  border-top: 1px solid #F1F1F1;
}
#detail .indetail .address span {
  display: block;
  float: left;
  margin-right: 5px;
}
#detail .indetail .address .chosearea {
  height: 20px;
  float: left;
  margin: 5px 6px 0 0;
}
#detail .indetail .address .text {
  line-height: 20px;
  background-color: #FFF;
  height: 20px;
  float: left;
  padding-right: 20px;
  position: relative;
  cursor: pointer;
}
#detail .indetail .address b {
  font-size: 0;
  line-height: 0;
  background: url("../imgs/2014_ncs_public_img.png") no-repeat -50px -100px;
  display: block;
  width: 8px;
  height: 4px;
  position: absolute;
  top: 9px;
  right: 6px;
}
#detail .indetail .address .prompt {
  line-height: 28px;
  color: #555;
}
#detail .indetail .address .prompt strong {
  font-weight: 500;
  margin-right: 12px;
}
#detail .indetail .services {
  position: relative;
  padding-top: 5px;
  margin-top: 10px;
}
#detail .indetail .services dd a {
  color: #e80012;
}
#detail .indetail .key {
  position: relative;
  border-top: solid 1px #F1F1F1;
  margin-top: 10px;
  padding-top: 10px;
}
#detail .indetail .key .num {
  float: left;
}
#detail .indetail .key .num .disable {
  cursor: not-allowed !important;
}
#detail .indetail .key .num .disable i {
  color: #C1C1C1 !important;
}
#detail .indetail .key .tognum {
  position: relative;
  display: block;
  width: 28px;
  height: 28px;
  text-align: center;
  float: left;
  border: solid #E1E1E1 1px;
  background-color: #FAFAFA;
  line-height: 28px;
  cursor: pointer;
}
#detail .indetail .key i {
  display: block;
  margin: 8px auto;
  color: black;
}
#detail .indetail .key i::before {
  content: "";
}
#detail .indetail .key .add i::before {
  content: "";
}
#detail .indetail .key input {
  position: relative;
  display: block;
  float: left;
  width: 40px;
  height: 20px;
  text-align: center;
  padding: 4px;
  border: solid 1px #E1E1E1;
  line-height: 20px;
}
#detail .indetail .key .unit {
  margin-left: 5px;
}
#detail .indetail .key .inventory {
  float: left;
  margin-left: 10px;
}
#detail .indetail .buy {
  margin-top: 10px;
}
#detail .indetail .buy .btn {
  height: 42px;
  padding: 10px 0 10px 80px;
}
#detail .indetail .buy a {
  font: lighter 18px/40px "Microsoft Yahei";
  color: #FFF;
  display: inline-block;
  width: 150px;
  height: 40px;
  text-align: center;
  margin: 0 10px 0 0;
  border: solid 1px;
}
#detail .indetail .buy .buybtn {
  border-color: #e4393c;
  background-color: #e4393c;
}
#detail .indetail .buy .addbtn {
  border-color: #F2DCBC;
  background-color: #FFF5EC;
  color: #e4393c;
}
#detail .indetail .buy .addbtn .fa::before {
  content: "";
}
#detail .indetail .tip {
  margin: 10px 0;
}
#detail .gods-change {
  display: block;
  float: right;
  width: 140px;
  height: 480px;
  background-color: #FAFAFA;
}
#detail .gods-change .tit {
  height: 20px;
  line-height: 20px;
  padding: 10px 10px 0 10px;
}
#detail .gods-change .tit h4 {
  display: inline-block;
  font-size: 12px;
  line-height: 20px;
  color: #333;
  font-weight: normal;
}
#detail .gods-change .tit a {
  float: right;
  color: #777;
}
#detail .gods-change .tit i {
  font-size: 14px;
  margin-right: 5px;
}
#detail .gods-change .tit i::before {
  content: "";
}
#detail .gods-change ul {
  margin: 0 10px;
}
#detail .gods-change li {
  padding-top: 8px;
}
#detail .gods-change .imgwrap {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  overflow: hidden;
}
#detail .gods-change .imgwrap img {
  width: 120px;
}
#detail .gods-change .price {
  width: 100%;
  height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #616161;
  line-height: 20px;
  font-family: Verdana;
}

/*# sourceMappingURL=detail.css.map */
