@charset "UTF-8";
#search, header .container {
  *zoom: 1;
}
#search:before, header .container:before, #search:after, header .container:after {
  content: " ";
  display: table;
}
#search:after, header .container:after {
  clear: both;
}

.container {
  width: 1210px;
  margin: 0 auto;
}

header {
  position: relative;
  z-index: 999;
  background-color: #F5F5F5;
  border-bottom: 1px solid #e5e5e5;
  width: 100%;
}
header .left {
  float: left;
}
header .left a {
  height: 34px;
  z-index: 2;
  top: 0;
  left: 0;
  padding: 0 9px 1px 9px;
  margin: 1px 1px 0 1px;
  white-space: nowrap;
  line-height: 34px;
}
header .left a span {
  display: inline-block;
  vertical-align: middle;
  margin-right: 4px;
  width: 20px;
  height: 20px;
  background: url("../imgs/web_common_pic.png") no-repeat -40px 0;
}
header .left a i {
  background: url("../imgs/web_common_pic.png") no-repeat -110px -60px;
  vertical-align: middle;
  display: inline-block;
  width: 7px;
  height: 4px;
  margin-left: 9px;
}

header .right {
  float: right;
}
header .right dl {
  height: 35px;
  display: block;
  position: relative;
  z-index: 1;
  float: left;
}
header .right dl a {
  color: #555;
}
header .right dt {
  font-size: 12px;
  line-height: 20px;
  height: 20px;
  padding: 8px 12px 7px 12px;
  border: none;
  background-color: transparent;
}
header .right dt .arrow {
  background: url("../imgs/web_common_pic.png") no-repeat -110px -60px;
  vertical-align: middle;
  display: inline-block;
  width: 7px;
  height: 4px;
  margin-left: 4px;
}
header .right dd ul {
  padding-bottom: 5px;
  height: 0px;
  overflow: hidden;
  position: absolute;
  top: 36px;
  background-color: white;
  border: 1px solid #e5e5e5;
}
header .right .login a:first-child {
  color: #F30213 !important;
  margin-right: 5px;
}
header .right .login a:last-child:hover {
  color: #F30213;
}
header .right .myorder:hover ul {
  height: 100px;
  transition: 1s;
}
header .right .myorder ul {
  width: 100%;
}
header .right .myorder ul a {
  font-size: 12px;
  line-height: 24px;
  display: block;
  clear: both;
  padding: 2px 0 2px 10px;
}
header .right .mymall ul {
  width: 160px;
}
header .right .mymall ul li {
  width: 50%;
  float: left;
  padding: 4px 0;
  margin: 0;
}
header .right .mymall ul li a {
  font-size: 12px;
  line-height: 24px;
  display: block;
  clear: both;
  padding: 2px 0 2px 10px;
}
header .right .call-center ul a {
  font-size: 12px;
  line-height: 24px;
  display: block;
  clear: both;
  padding: 2px 0 2px 10px;
}
header .right .mobile-mall {
  width: 120px;
}
header .right .mobile-mall .icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 4px;
  width: 20px;
  height: 20px;
  background: url("../imgs/web_common_pic.png") no-repeat -120px 0;
}
header .right .mobile-mall dd {
  width: 140px;
}
header .right .mobile-mall .QRcode {
  position: absolute;
  left: 0;
  top: -180px;
  display: none;
  padding: 20px;
  background-color: white;
  border: 1px solid #e5e5e5;
  border-top: none;
}
header .right .mobile-mall .QRcode img {
  width: 140px;
  height: 140px;
  border: medium none;
  vertical-align: middle;
}
header .right .mobile-mall .QRcode p {
  display: block;
  margin-top: 10px;
  text-align: center;
  line-height: 16px;
}

input[type=text] {
  font: 12px/1.5 Tahoma, Arial, "宋体", sans-serif;
  color: #777;
  background-color: #FFF;
  vertical-align: top;
  display: inline-block;
  min-height: 20px;
  padding: 5px;
  border: solid 1px #E6E9EE;
  outline: 0 none;
}

#search {
  position: relative;
  z-index: 100;
  background-color: #FFF;
  width: 100%;
}
#search .container {
  height: 109px;
}
#search h1 {
  display: block;
  width: 240px;
  height: 68px;
  float: left;
  margin: 22px 120px auto 0;
  text-indent: -9999px;
}
#search h1 img {
  display: block;
  margin-top: -13px;
}
#search .search-wrap {
  width: 550px;
  float: left;
  margin-top: 34px;
}
#search .search-bar {
  display: block;
  width: 100%;
  height: 36px;
  position: relative;
}
#search form {
  display: block;
  height: 36px;
}
#search form span {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
#search form input[name=keyword] {
  float: left;
  border: solid #F30213;
  border-width: 2px 0 2px 2px;
  width: 460px;
  height: 24px;
  padding: 4px;
  line-height: 24px;
  color: #555;
}
#search form input[type=submit] {
  display: block;
  font-family: "Microsoft YaHei", HelveticaNeue, Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #FFF;
  line-height: 30px;
  font-weight: 500;
  background-color: #F30213;
  width: 80px;
  height: 36px;
  float: right;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
#search .keyword {
  line-height: 20px;
  white-space: nowrap;
  width: 100%;
  height: 20px;
  margin-top: 5px;
  overflow: hidden;
  color: #666;
}
#search .keyword ul {
  vertical-align: top;
  display: inline-block;
  font-size: 0;
  margin-left: 7px;
}
#search .keyword ul li {
  font-size: 12px;
  vertical-align: top;
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  margin-right: 12px;
}
#search .keyword ul a {
  color: #999;
}

.mycart {
  position: relative;
  z-index: 11;
  float: left;
  height: 36px;
  margin-top: 34px;
  margin-left: 30px;
}
.mycart .title {
  position: relative;
  width: 91px;
  height: 34px;
  padding: 0 28px 0 19px;
  border: 1px solid #DFDFDF;
  background-color: #f9f9f9;
  line-height: 34px;
}
.mycart .title .icon {
  position: absolute;
  overflow: hidden;
  top: 9px;
  left: 90px;
  width: 16px;
  height: 16px;
  background: url("../imgs/web_common_pic.png") no-repeat 0 -30px;
}
.mycart .title .count {
  position: absolute;
  top: 7px;
  left: 105px;
  display: inline-block;
  width: 14px;
  padding: 1px;
  letter-spacing: -1px;
  text-align: center;
  background-color: #DA1026;
  border-radius: 7px;
  font-family: tahoma, arial;
  font-size: 12px;
  line-height: 14px;
  color: #fff;
}
.mycart .title a {
  color: #F30213;
}

/*# sourceMappingURL=index.css.map */
