@charset "UTF-8";
#otherGoods .con, #foods .food-wrap, #foods .container, #seckill .kill-content .list ul, .wrap, #search, header .container {
  *zoom: 1;
}
#otherGoods .con:before, #foods .food-wrap:before, #foods .container:before, #seckill .kill-content .list ul:before, .wrap:before, #search:before, header .container:before, #otherGoods .con:after, #foods .food-wrap:after, #foods .container:after, #seckill .kill-content .list ul:after, .wrap:after, #search:after, header .container:after {
  content: " ";
  display: table;
}
#otherGoods .con:after, #foods .food-wrap:after, #foods .container:after, #seckill .kill-content .list ul:after, .wrap:after, #search:after, header .container:after {
  clear: both;
}

.container {
  width: 1210px;
  margin: 0 auto;
}

input[type=submit] {
  display: block;
  font-family: "Microsoft YaHei", HelveticaNeue, Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #FFF;
  line-height: 30px;
  font-weight: 500;
  background-color: #F30213;
  width: 80px;
  height: 36px;
  float: right;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

input[type=text] {
  font: 12px/1.5 Tahoma, Arial, "宋体", sans-serif;
  color: #777;
  background-color: #FFF;
  vertical-align: top;
  display: inline-block;
  min-height: 20px;
  padding: 5px;
  border: solid 1px #E6E9EE;
  outline: 0 none;
}

body {
  background-color: #f2f2f2;
}

header {
  position: relative;
  z-index: 999;
  background-color: #F5F5F5;
  border-bottom: 1px solid #e5e5e5;
  width: 100%;
}
header .left {
  float: left;
}
header .left a {
  height: 34px;
  z-index: 2;
  top: 0;
  left: 0;
  padding: 0 9px 1px 9px;
  margin: 1px 1px 0 1px;
  white-space: nowrap;
  line-height: 34px;
}
header .left a span {
  display: inline-block;
  vertical-align: middle;
  margin-right: 4px;
  width: 20px;
  height: 20px;
  background: url("../imgs/web_common_pic.png") no-repeat -40px 0;
}
header .left a i {
  background: url("../imgs/web_common_pic.png") no-repeat -110px -60px;
  vertical-align: middle;
  display: inline-block;
  width: 7px;
  height: 4px;
  margin-left: 9px;
}

header .right {
  float: right;
}
header .right dl {
  height: 35px;
  display: block;
  position: relative;
  z-index: 1;
  float: left;
}
header .right dl a {
  color: #555;
}
header .right dt {
  font-size: 12px;
  line-height: 20px;
  height: 20px;
  padding: 8px 12px 7px 12px;
  border: none;
  background-color: transparent;
}
header .right dt .arrow {
  background: url("../imgs/web_common_pic.png") no-repeat -110px -60px;
  vertical-align: middle;
  display: inline-block;
  width: 7px;
  height: 4px;
  margin-left: 4px;
}
header .right dd {
  width: 100%;
  position: absolute;
  overflow: hidden;
  height: 0;
  background-color: white;
  box-sizing: border-box;
  top: 35px;
}
header .right dd ul {
  padding-bottom: 5px;
  height: auto;
}
header .right dd li:hover a {
  color: #F30213;
}
header .right .login a:first-child {
  color: #F30213 !important;
  margin-right: 5px;
}
header .right .login a:last-child:hover {
  color: #F30213;
}
header .right .myorder:hover, header .right .call-center:hover {
  background-color: white;
}
header .right .myorder:hover dt, header .right .call-center:hover dt {
  border: 1px solid #e5e5e5;
  padding-left: 11px;
  padding-right: 11px;
  border-bottom: none;
  border-top: none;
}
header .right .myorder:hover dt a, header .right .call-center:hover dt a {
  color: #F30213;
}
header .right .myorder:hover dt span, header .right .call-center:hover dt span {
  transform: rotateZ(180deg);
  transition: 0.3s;
}
header .right .myorder:hover dd, header .right .call-center:hover dd {
  height: 90px;
  border: 1px solid #e5e5e5;
  border-top: none;
  transition: height 0.3s;
}
header .right .myorder ul {
  width: 100%;
}
header .right .myorder ul a {
  font-size: 12px;
  line-height: 24px;
  display: block;
  clear: both;
  padding: 2px 0 2px 10px;
}
header .right .mymall dd {
  width: 200%;
}
header .right .mymall ul {
  width: 160px;
}
header .right .mymall ul li {
  width: 50%;
  float: left;
  padding: 4px 0;
  margin: 0;
}
header .right .mymall ul li a {
  font-size: 12px;
  line-height: 24px;
  display: block;
  clear: both;
  padding: 2px 0 2px 10px;
}
header .right .mymall:hover {
  background-color: white;
}
header .right .mymall:hover dt {
  border: 1px solid #e5e5e5;
  padding-left: 11px;
  padding-right: 11px;
  border-bottom: none;
  border-top: none;
}
header .right .mymall:hover dt a {
  color: #F30213;
}
header .right .mymall:hover dt span {
  transform: rotateZ(180deg);
  transition: 0.3s;
}
header .right .mymall:hover dd {
  height: 109px;
  border: 1px solid #e5e5e5;
  border-top: none;
  transition: height 0.3s;
}
header .right .call-center ul a {
  font-size: 12px;
  line-height: 24px;
  display: block;
  clear: both;
  padding: 2px 0 2px 10px;
}
header .right .mobile-mall:hover {
  background-color: white;
}
header .right .mobile-mall:hover dt {
  border: 1px solid #e5e5e5;
  padding-left: 11px;
  padding-right: 11px;
  border-bottom: none;
  border-top: none;
  color: #F30213;
}
header .right .mobile-mall:hover dt .arrow {
  transform: rotateZ(180deg);
  transition: 0.3s;
}
header .right .mobile-mall:hover dd {
  height: 223px;
  border: 1px solid #e5e5e5;
  border-top: none;
  transition: height 0.3s;
}
header .right .mobile-mall {
  width: 120px;
}
header .right .mobile-mall .icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 4px;
  width: 20px;
  height: 20px;
  background: url("../imgs/web_common_pic.png") no-repeat -120px 0;
}
header .right .mobile-mall dd {
  width: 150%;
  height: 0;
  left: -60px;
}
header .right .mobile-mall .QRcode {
  display: block;
  padding: 20px;
}
header .right .mobile-mall .QRcode img {
  width: 140px;
  height: 140px;
  border: medium none;
  vertical-align: middle;
}
header .right .mobile-mall .QRcode p {
  display: block;
  margin-top: 10px;
  text-align: center;
  line-height: 16px;
}

#search {
  position: relative;
  z-index: 100;
  background-color: #FFF;
  width: 100%;
}
#search .container {
  height: 109px;
}
#search h1 {
  display: block;
  width: 240px;
  height: 68px;
  float: left;
  margin: 22px 120px auto 0;
  text-indent: -9999px;
}
#search h1 img {
  display: block;
  margin-top: -13px;
}
#search .search-wrap {
  width: 550px;
  float: left;
  margin-top: 34px;
}
#search .search-bar {
  display: block;
  width: 100%;
  height: 36px;
  position: relative;
}
#search form {
  display: block;
  height: 36px;
}
#search form span {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
#search form input:first-of-type {
  float: left;
  border: solid #F30213;
  border-width: 2px 0 2px 2px;
  width: 460px;
  height: 24px;
  padding: 4px;
  line-height: 24px;
  color: #555;
}
#search .keyword {
  line-height: 20px;
  white-space: nowrap;
  width: 100%;
  height: 20px;
  margin-top: 5px;
  overflow: hidden;
  color: #666;
}
#search .keyword ul {
  vertical-align: top;
  display: inline-block;
  font-size: 0;
  margin-left: 7px;
}
#search .keyword ul li {
  font-size: 12px;
  vertical-align: top;
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  margin-right: 12px;
}
#search .keyword ul a {
  color: #999;
}

.mycart {
  position: relative;
  z-index: 11;
  float: left;
  height: 36px;
  margin-top: 34px;
  margin-left: 30px;
}
.mycart .title {
  position: relative;
  width: 91px;
  height: 34px;
  padding: 0 28px 0 19px;
  border: 1px solid #DFDFDF;
  background-color: #f9f9f9;
  line-height: 34px;
}
.mycart .title .icon {
  position: absolute;
  overflow: hidden;
  top: 9px;
  left: 90px;
  width: 16px;
  height: 16px;
  background: url("../imgs/web_common_pic.png") no-repeat 0 -30px;
}
.mycart .title .count {
  position: absolute;
  top: 7px;
  left: 105px;
  display: inline-block;
  width: 14px;
  padding: 1px;
  letter-spacing: -1px;
  text-align: center;
  background-color: #DA1026;
  border-radius: 7px;
  font-family: tahoma, arial;
  font-size: 12px;
  line-height: 14px;
  color: #fff;
}
.mycart .title a {
  color: #F30213;
}

nav {
  position: relative;
  z-index: 99;
  width: 100%;
  height: 40px;
  border-bottom: solid 2px #F30213;
  margin: 0 auto;
  background-color: #FFF;
  zoom: 1;
}
nav .all-goods {
  display: block;
  float: left;
  width: 180px;
  height: 40px;
  background-color: #F30213;
}
nav .all-goods .title {
  line-height: 20px;
  height: 20px;
  padding: 10px 10px 11px 10px;
}
nav .all-goods .title a {
  font-size: 14px;
  font-weight: normal;
  color: #FFF;
  float: left;
  margin-left: 6px;
}
nav .all-goods .title i {
  display: block;
  float: right;
  width: 9px;
  height: 6px;
  margin: 8px 6px 0 0;
  background: url("../imgs/web_common_pic.png") no-repeat -90px -60px;
}
nav .menu {
  font-size: 0;
  *word-spacing: -1px;
  white-space: nowrap;
  max-width: 988px;
  float: left;
  overflow: hidden;
}
nav .menu li {
  float: left;
}
nav .menu a {
  font-size: 15px;
  line-height: 20px;
  height: 20px;
  padding: 8px 24px;
  display: inline-block;
}
nav .menu a:hover {
  color: #F30213 !important;
}
nav .menu .active {
  color: #F30213;
  font-weight: 600;
}

#banner {
  width: 100%;
  height: 479px;
  background-color: #fff;
}
#banner .top-live {
  height: 79px;
  width: 1033px;
  margin-left: 180px;
}
#banner .top-live .left {
  width: 848px;
  height: 79px;
  float: left;
}
#banner .top-live .firlive, #banner .top-live .seclive {
  border: 1px solid #e4e4e4;
  padding: 5px 0px;
  margin: 5px 6px 5px 8px;
  height: 59px;
  width: 408px;
  float: left;
}
#banner .top-live .live-banner {
  display: block;
  width: 100px;
  height: 59px;
  float: left;
  background: url("../imgs/live.png") no-repeat 3px 0px;
}
#banner .top-live .live-goods {
  width: 290px;
  float: left;
  position: relative;
}
#banner .top-live .live-special {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 90px;
  height: 59px;
  margin-left: 15px;
  overflow: hidden;
}
#banner .top-live .live-special img {
  position: absolute;
  width: 90px;
  height: 59px;
  overflow: hidden;
}
#banner .top-live .mask {
  position: absolute;
  top: 0;
  left: 15px;
  width: 90px;
  height: 59px;
  background: url("../imgs/radio.png") no-repeat;
}
#banner .top-live .goods-title {
  position: relative;
  width: 175px;
  display: inline-block;
  margin-left: 6px;
}
#banner .top-live .goods-title p {
  line-height: 24px;
  height: 24px;
  width: 100%;
  color: #000;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#banner .top-live .goods-title .goods-price {
  margin-top: 5px;
  color: #F15C18;
  width: 50%;
}
#banner .top-live .goods-title .goods-price em {
  line-height: 32px;
  font-size: 20px;
}
#banner .top-live .goods-title .goto-live {
  position: absolute;
  right: -4px;
  color: #f22d25;
  bottom: -4px;
  height: 22px;
  width: 84px;
  line-height: 21px;
  border: 1px solid #f22d25;
  text-align: center;
  box-shadow: 1px 1px 2px #e3d5d5;
}
#banner .top-live .seclive .live-banner {
  background: url("../imgs/live.png") no-repeat -100px 0px;
}
#banner .top-live .seclive .live-special {
  width: 60px;
  height: 60px;
}
#banner .top-live .seclive .live-special img {
  width: 60px;
  height: 60px;
}
#banner .top-live .seclive .goods-title p {
  width: 175px;
}
#banner .top-live .right {
  float: right;
  width: 167px;
  height: 79px;
}
#banner .top-live .right img {
  display: block;
  width: 167px;
  height: 79px;
  position: relative;
  left: -7px;
}

.wrap {
  width: 100%;
  background-color: #c5000c;
}
.wrap .left {
  width: 845px;
  margin-left: 180px;
  height: 400px;
  float: left;
  background-color: blue;
}
.wrap .right {
  float: right;
  width: 185px;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.7);
  position: relative;
}
.wrap .right h2 {
  text-align: center;
  height: 30px;
  line-height: 30px;
  padding: 12px 0;
  font-size: 16px;
  font-weight: bold;
  color: #000;
}
.wrap .right .con {
  padding: 0;
  float: right;
  width: 185px;
  height: 346px;
}
.wrap .right .con a {
  width: 185px;
  height: 250px;
  display: block;
  text-align: center;
}
.wrap .right .con img {
  width: 185px;
}
.wrap .right .con h3 {
  height: 24px;
  line-height: 24px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: #000;
}
.wrap .right .con p {
  height: 40px;
  line-height: 20px;
  margin-top: 5px;
  overflow: hidden;
  text-align: center;
  padding: 10px;
}

#seckill {
  width: 100%;
  height: auto;
  margin-top: 15px;
  margin-bottom: 30px;
}
#seckill .container {
  overflow: hidden;
}
#seckill .kill-title {
  padding-left: 30px;
  padding-right: 20px;
  height: 55px;
  line-height: 55px;
  background: url("https://statics.cnrmall.com/web/static/img/active/seckill.png") no-repeat 0 0;
}
#seckill .kill-title .title {
  float: left;
}
#seckill .kill-title .title .icon {
  float: left;
  width: 34px;
  height: 36px;
  background: url("../imgs/active.png") no-repeat 0 -48px;
  margin-top: 10px;
  margin-right: 15px;
  color: #fff;
}
#seckill .kill-title .title h3 {
  font-size: 26px;
  height: 36px;
  line-height: 36px;
  float: left;
  padding-top: 9px;
  font-weight: 300;
  color: #fff;
}
#seckill .kill-title .title a {
  float: left;
  margin-left: 12px;
  font-size: 14px;
  line-height: 24px;
  height: 24px;
  margin-top: 19px;
  color: #fff;
  font-weight: 400;
}
#seckill .kill-title .title .fa {
  font-size: 14px;
  margin-right: 4px;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  margin-left: 5px;
}
#seckill .kill-title .title .fa::before {
  content: "";
}
#seckill .kill-title .countdown {
  float: right;
  line-height: 55px;
}
#seckill .kill-title .tip {
  font-size: 14px;
  padding-top: 10px;
  line-height: 45px;
  float: left;
  color: #fff;
}
#seckill .kill-title .timer {
  color: #440106;
  font-size: 20px;
  line-height: 2;
  float: left;
  padding: 0 8px 0 6px;
  margin-top: 8px;
  font-weight: 600;
}
#seckill .kill-title .timer span {
  background-color: #000;
  border: 1px solid #000;
  color: #f90013;
  padding: 5px;
  margin: 0 3px;
  border-radius: 4px;
  font-weight: 400;
}
#seckill .kill-content {
  padding: 12px 0 13px;
  overflow: hidden;
  background: #fff;
}
#seckill .kill-content:hover .slider {
  display: block !important;
}
#seckill .kill-content .list-wrap {
  width: 100%;
  height: 225px;
  position: relative;
  overflow: hidden;
}
#seckill .kill-content .list-wrap .slider {
  display: none;
  position: absolute;
  cursor: pointer;
  top: 50%;
  width: 28px;
  height: 62px;
  line-height: 62px;
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
  font-family: simsun;
  font-size: 22px;
  font-weight: 400;
  transform: translateY(-50%);
  color: #fff;
}
#seckill .kill-content .list-wrap .next {
  right: 0;
}
#seckill .kill-content .list ul {
  position: relative;
  left: -1px;
  height: 225px;
}
#seckill .kill-content .list li {
  float: left;
  width: 170px;
  height: 225px;
  padding: 0 15px;
  border-left: 1px solid #e7e7e7;
}
#seckill .kill-content .list li:hover img {
  transform: translateY(-5px);
}
#seckill .kill-content .goods {
  position: relative;
}
#seckill .kill-content .goods a {
  display: block;
  width: 100%;
}
#seckill .kill-content .goods img {
  display: block;
  width: 130px;
  height: 130px;
  margin: 17px auto;
  transition: transform 0.4s ease;
}
#seckill .kill-content .goods .sk-name {
  color: #999;
  display: block;
  width: 100%;
  overflow: hidden;
  font-size: 12px;
  height: 32px;
  text-align: left;
  line-height: 16px;
}
#seckill .kill-content .goods .sk-shadow {
  position: absolute;
  left: 0;
  top: 118px;
  text-align: center;
  width: 170px;
  height: 20px;
  background: url("../imgs/active.png") no-repeat;
  background-position: -340px 0;
}
#seckill .kill-content .price {
  padding: 3px 0;
  height: 25px;
}
#seckill .kill-content .price .newprice {
  font-size: 16px;
  font-weight: 600;
  margin-right: 4px;
  color: #f1352b;
}
#seckill .kill-content .price .oldprice {
  text-decoration: line-through;
  font-size: 12px;
  color: #999;
}

#foods {
  width: 100%;
}
#foods .container {
  background-color: #fff;
}
#foods .title {
  height: 58px;
  width: 100%;
  line-height: 58px;
  background-color: #edba21;
  background-image: linear-gradient(90deg, #edba21, #e19631);
  padding-left: 25px;
  box-sizing: border-box;
}
#foods .title h3 {
  font-size: 22px;
  font-weight: 400;
  color: #fff;
  display: inline;
}
#foods .food-wrap {
  padding: 10px;
}
#foods .food-wrap .left {
  float: left;
  width: 580px;
  position: relative;
  height: 400px;
}
#foods .food-wrap .left .sometit {
  color: #ffd300;
}
#foods .food-wrap .right {
  float: left;
  width: 579px;
  margin-left: 15px;
  padding-left: 15px;
  position: relative;
  overflow: hidden;
  border-left: 1px solid #E6E6E6;
}
#foods .food-wrap .right .some {
  width: 187px;
}
#foods .food-wrap .cover {
  float: left;
  margin-right: 10px;
  width: 186px;
  height: 260px;
  overflow: hidden;
  background-color: #F7F7F7;
}
#foods .food-wrap .cover:hover img {
  transform: translateX(-10px);
}
#foods .food-wrap .cover a {
  display: block;
}
#foods .food-wrap .cover img {
  transition: transform 0.2s ease 0s;
}
#foods .food-wrap .some {
  overflow: hidden;
  position: relative;
  float: left;
  width: 382px;
  height: 260px;
}
#foods .food-wrap .some a {
  display: block;
  float: left;
  position: relative;
  width: 191px;
  height: 130px;
}
#foods .food-wrap .some img {
  display: block;
  overflow: hidden;
  position: absolute;
  right: 5px;
  bottom: 10px;
  width: 100px;
  height: 100px;
  transition: 0.5s;
  background-color: #F7F7F7;
  transition: transform 0.5s ease 0s;
}
#foods .food-wrap .some img:hover {
  transform: translateX(-5px);
}
#foods .food-wrap .sometit {
  position: absolute;
  z-index: 1;
  top: 25px;
  left: 25px;
  overflow: hidden;
  overflow-wrap: break-word;
  max-width: 130px;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
  font-size: 14px;
}
#foods .food-wrap .somecon {
  position: absolute;
  z-index: 1;
  top: 50px;
  left: 25px;
  max-width: 50px;
  font-size: 12px;
  color: #666;
}
#foods .food-wrap .x {
  position: absolute;
  top: 130px;
  left: 0;
  width: 382px;
  height: 1px;
  background-color: #E6E6E6;
}
#foods .food-wrap .y {
  position: absolute;
  top: 0;
  left: 191px;
  width: 1px;
  height: 260px;
  background-color: #E6E6E6;
}
#foods .food-wrap .more {
  overflow: hidden;
  clear: both;
  height: 130px;
  padding-top: 10px;
}
#foods .food-wrap .more a {
  display: inline-block;
  width: 180px;
  overflow: hidden;
  margin-right: 15px;
}
#foods .food-wrap .more a:hover img {
  transform: translateX(-12px);
}
#foods .food-wrap .more a.last {
  margin-right: 0 !important;
}
#foods .food-wrap .more img {
  width: 196px;
  height: 130px;
  transition: transform 0.4s ease 0s;
}

#otherGoods {
  margin-top: 15px;
}
#otherGoods .container {
  background-color: #fff;
}
#otherGoods .left, #otherGoods .right, #otherGoods .mid {
  width: 396px;
  height: 478px;
  float: left;
  margin-right: 10px;
  background-color: #fff;
}
#otherGoods .left .title {
  background-color: #cd375e;
  background-image: linear-gradient(90deg, #cd375e, #c1314d);
}
#otherGoods .mid .title {
  background-color: #974676;
  background-image: linear-gradient(90deg, #974676, #9e4075);
}
#otherGoods .right {
  margin-right: 0;
  width: 397px;
}
#otherGoods .right .title {
  background-color: #78538e;
  background-image: linear-gradient(90deg, #78538e, #674083);
}
#otherGoods .title {
  width: 100%;
  height: 58px;
  line-height: 58px;
  padding-left: 20px;
  box-sizing: border-box;
}
#otherGoods .title h3 {
  font-size: 22px;
  font-weight: 400;
  color: #FFF;
}
#otherGoods .con {
  padding: 10px;
}
#otherGoods .con .cover {
  float: left;
  margin-right: 10px;
  width: 186px;
  height: 260px;
  overflow: hidden;
  background-color: #F7F7F7;
}
#otherGoods .con .cover:hover img {
  transform: translateX(-10px);
}
#otherGoods .con .cover a {
  display: block;
}
#otherGoods .con .cover img {
  transition: transform 0.2s ease 0s;
}
#otherGoods .con .some {
  overflow: hidden;
  position: relative;
  float: left;
  width: 180px;
  height: 260px;
}
#otherGoods .con .some a {
  display: block;
  float: left;
  position: relative;
  width: 191px;
  height: 130px;
}
#otherGoods .con .some img {
  display: block;
  overflow: hidden;
  position: absolute;
  right: 5px;
  bottom: 10px;
  width: 100px;
  height: 100px;
  transition: 0.5s;
  background-color: #F7F7F7;
  transition: transform 0.5s ease 0s;
}
#otherGoods .con .some img:hover {
  transform: translateX(-5px);
}
#otherGoods .con .sometit {
  position: absolute;
  z-index: 1;
  top: 25px;
  left: 25px;
  overflow: hidden;
  overflow-wrap: break-word;
  max-width: 130px;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
  font-size: 14px;
}
#otherGoods .con .somecon {
  position: absolute;
  z-index: 1;
  top: 50px;
  left: 25px;
  max-width: 50px;
  font-size: 12px;
  color: #666;
}
#otherGoods .con .x {
  position: absolute;
  top: 130px;
  left: 0;
  width: 382px;
  height: 1px;
  background-color: #E6E6E6;
}
#otherGoods .con .y {
  position: absolute;
  top: 0;
  left: 191px;
  width: 1px;
  height: 260px;
  background-color: #E6E6E6;
}
#otherGoods .con .more {
  overflow: hidden;
  clear: both;
  height: 130px;
  padding-top: 10px;
}
#otherGoods .con .more a {
  display: inline-block;
  width: 185px;
  overflow: hidden;
  margin-right: 2px;
}
#otherGoods .con .more a:hover img {
  transform: translateX(-12px);
}
#otherGoods .con .more a.last {
  margin-right: 0 !important;
}
#otherGoods .con .more img {
  width: 196px;
  height: 130px;
  transition: transform 0.4s ease 0s;
}

/*# sourceMappingURL=index.css.map */
