@charset "UTF-8";
body {
  background-color: #fff !important;
}

.fa {
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 14px;
  color: #C1C1C1;
}

#main .buy-foot .summary, #main .things, #main .buy-title ul {
  *zoom: 1;
}
#main .buy-foot .summary:before, #main .things:before, #main .buy-title ul:before, #main .buy-foot .summary:after, #main .things:after, #main .buy-title ul:after {
  content: " ";
  display: table;
}
#main .buy-foot .summary:after, #main .things:after, #main .buy-title ul:after {
  clear: both;
}

#flow {
  height: 100px;
  width: 100%;
}
#flow .container::after {
  content: "";
  display: block;
  clear: both;
}
#flow .logo {
  float: left;
  width: 240px;
  height: 96px;
  line-height: 96px;
}
#flow .logo a {
  display: inline-block;
  width: 240px;
  height: 68px;
  margin-top: 14px;
}
#flow .logo img {
  width: 240px;
  height: 68px;
}
#flow .flow-wrap {
  float: right;
  height: 96px;
}
#flow .flow-wrap ul {
  margin-top: 15px;
}
#flow .flow-wrap .active sub {
  background-color: #616161;
  border-color: #616161;
  box-shadow: 0 0 1px 3px #E1E1E1;
}
#flow .flow-wrap .active .hr {
  background-color: #616161;
}
#flow .flow-wrap .active p, #flow .flow-wrap .active sub, #flow .flow-wrap .active i {
  opacity: 1;
}
#flow .flow-wrap li {
  position: relative;
  width: 160px;
  height: 70px;
  float: left;
  overflow: hidden;
}
#flow .flow-wrap li i {
  position: absolute;
  background: #FFF url("../imgs/nc_cart_pic.png") no-repeat;
  width: 30px;
  height: 30px;
  display: block;
  left: 65px;
  opacity: 0.25;
  top: -1px;
}
#flow .flow-wrap li sub {
  background-color: #FFF;
  width: 5px;
  height: 5px;
  margin-left: -3px;
  border: solid 1px #CCC;
  border-radius: 4px;
  position: absolute;
  top: 31px;
  left: 50%;
}
#flow .flow-wrap li .hr {
  position: absolute;
  top: 34px;
  background-color: #DDD;
  width: 100%;
  height: 1px;
  font-weight: normal;
}
#flow .flow-wrap li p {
  text-align: center;
  width: 100%;
  height: 24px;
  position: absolute;
  left: 0;
  bottom: 0;
  color: #616161;
  opacity: 0.25;
}
#flow .flow-wrap li .item2 {
  background-position: -30px 0;
}
#flow .flow-wrap li .item3 {
  background-position: -60px 0;
}
#flow .flow-wrap li .item4 {
  background-position: -90px 0;
}

#main .main-title {
  height: 50px;
  padding: 15px 0;
}
#main .main-title h3 {
  font: lighter 16px/30px arial, "microsoft yahei";
  color: #616161;
}
#main .main-title h5 {
  font: 12px/20px arial, "microsoft yahei";
  color: #BFBFBF;
}
#main .buy-wrap {
  width: 100%;
  box-sizing: border-box;
}
#main .buy-title {
  width: 1208px;
  height: 30px;
  padding: 4px 0;
  border: solid 1px #E9E9E9;
  background-color: #F3F3F3;
  margin-bottom: 20px;
}
#main .buy-title li {
  float: left;
  color: #212121;
  line-height: 30px;
}
#main .allchecked {
  padding-left: 18px;
  width: 90px;
}
#main .allchecked input {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
#main .goods {
  width: 480px;
  text-indent: 12px;
}
#main .num {
  width: 166px;
  text-indent: 70px;
}
#main .price {
  width: 175px;
  padding-right: 15px;
  text-align: right;
}
#main .rebate {
  width: 78px;
  text-indent: 30px;
}
#main .amount {
  width: 150px;
  text-align: right;
}
#main .line {
  width: 100%;
  border-bottom: solid 2px #AAAAAA;
}
#main .buy-list {
  margin-bottom: 20px;
  background: #FFF;
}
#main .things {
  display: none;
  position: relative;
  padding: 20px 19px 25px 19px;
  border-style: solid;
  border-color: #F1F1F1;
  border-width: 0 1px 1px;
}
#main .things input[type=checkbox] {
  float: left;
}
#main .things .thing-img {
  margin-left: 8px;
  width: 80px;
  height: 80px;
  text-align: center;
  float: left;
  border: solid 1px #E1E1E1;
  overflow: hidden;
}
#main .things .thing-img img {
  max-width: 80px;
}
#main .things .thing-main {
  width: 1050px;
  float: left;
  margin-left: 15px;
}
#main .things .thing-main .name {
  float: left;
  display: block;
  width: 450px;
  line-height: 20px;
  margin-bottom: 10px;
  height: 80px;
  overflow: hidden;
}
#main .things .thing-main .singles {
  margin-top: 30px;
  margin-left: 36px;
  float: left;
}
#main .things .thing-main .numtog {
  float: left;
}
#main .things .thing-main .numtog a {
  display: block;
  width: 22px;
  height: 24px;
  text-align: center;
  float: left;
  margin-right: -1px;
  border: solid #E1E1E1 1px;
  border-radius: 3px 0 0 3px;
  background-color: #FAFAFA;
  line-height: 24px;
}
#main .things .thing-main .numtog input {
  float: left;
  display: block;
  float: left;
  width: 40px;
  height: 20px;
  text-align: center;
  padding: 2px 4px;
  border: solid 1px #E1E1E1;
  line-height: 20px;
}
#main .things .thing-main .numtog .reduce {
  cursor: not-allowed;
}
#main .things .thing-main .numtog .reduce .fa::before {
  content: "";
}
#main .things .thing-main .numtog .add i {
  color: #000;
}
#main .things .thing-main .numtog .add .fa::before {
  content: "";
}
#main .things .thing-price {
  float: left;
  width: 100px;
  text-align: center;
  line-height: 26px;
  color: #616161;
  margin-left: 146px;
}
#main .things .thing-price span {
  font-weight: 400;
}
#main .things .thing-rebate {
  text-align: center;
  line-height: 26px;
  margin-top: 4px;
  float: left;
  padding: 1px 4px;
  border-radius: 2px;
  background-color: #E4393C;
  font-size: 11px;
  line-height: 16px;
  color: #FFF;
  cursor: default;
}
#main .things .thing-amount {
  margin-left: 25px;
  float: left;
  width: 140px;
  text-align: right;
}
#main .things .thing-amount .money {
  line-height: 26px;
  color: #E4393C;
  font-size: 14px;
  font-weight: 700;
}
#main .things .thing-amount .save {
  display: none;
  color: #3f9338;
}
#main .things .thing-remove {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 60px;
  height: 18px;
  padding: 4px 12px 2px 0;
  background-color: #F5F5F5;
}
#main .things .thing-remove a {
  margin-left: 12px;
  font-size: 18px;
  float: left;
}
#main .things .thing-remove .collect i::before {
  content: "";
}
#main .things .thing-remove .addcar i::before {
  content: "";
}
#main .buy-foot {
  position: relative;
  background-color: #EEE;
  height: 56px;
  border-bottom: solid 1px #E1E1E1;
  line-height: 56px;
}
#main .buy-foot .action {
  float: left;
  padding-left: 20px;
  width: 190px;
  color: #222;
}
#main .buy-foot .action .checkall {
  vertical-align: middle;
  margin-right: 8px;
}
#main .buy-foot .action .delete {
  margin-left: 30px;
}
#main .buy-foot .action .delete:hover {
  color: #F30213;
}
#main .buy-foot .summary {
  float: left;
  width: 820px;
}
#main .buy-foot .summary dl {
  float: right;
  height: 56px;
}
#main .buy-foot .summary dt {
  float: left;
}
#main .buy-foot .summary dd {
  float: left;
  margin-right: 30px;
}
#main .buy-foot .summary .value {
  display: inline-block;
  margin-right: 5px;
  font-size: 16px;
  color: #000;
}
#main .buy-foot .summary .amount-total {
  font-weight: bold;
  font-size: 20px;
  color: #E4393C;
}
#main .buy-foot .summary .amount-total strong {
  font-weight: bold;
}
#main .buy-foot .form {
  float: right;
}
#main .buy-foot .form button {
  background-color: #E4393C;
  color: #FFF;
  cursor: pointer;
  text-align: center;
  width: 150px;
  height: 56px;
  border: none 0;
  font-size: 16px;
  line-height: 56px;
  font-weight: 600;
}

/*# sourceMappingURL=shoppingcar.css.map */
